[user]
	name = Mario de Frutos
	email = ethervoid@gmail.com
[core]
	editor = vim
	whitespace = trailing-space
    symlinks = false
[color]
	ui = true
[alias]
    co = checkout
    ci = commit
    st = status
    br = branch
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --decorate --all --oneline
    diffca = diff --cached
    rb= reset HEAD~1
    wip= commit -m "WIP"
    pushinit = "!f() { git push --set-upstream $1 $2; }; f"
[push]
	default = simple
[merge]
	tool = extMerge
[mergetool "extMerge"]
	cmd = extMerge \"$BASE\" \"$LOCAL\" \"$REMOTE\" \"$MERGED\"
[mergetool]
	trustExitCode = false
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[rerere]
	enabled = true
